<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trafficquery">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrafficQuery"
        android:usesCleartextTraffic="true">
        <activity android:name=".traffic.TrafficInfoActivity" android:parentActivityName=".traffic.TrafficListActivity" android:label="违法详情"></activity>
        <activity
            android:name=".traffic.TrafficListActivity"
            android:label="违章记录页面"
            android:parentActivityName=".traffic.TrafficActivity" />
        <activity
            android:name=".traffic.TrafficActivity"
            android:label="违章查询页面"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>